<app-home></app-home><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
<button type="button" (click)="yesIncreament()" class="btn btn-primary col-sm-4">Yes {{this.yesIncreamentVal}}</button>

<button type="button" (click)="noIncreament()" class="btn btn-primary col-sm-4">No {{this.noIncreamentVal}}</button>

        
        <div class="col-sm-4"></div>
    </div>

</div>
</div>